{% extends "base.html" %}

{% block title %}
    User Authentication = {{ block.super }}
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Имя пользователя или пароль не подходят. Пожалуйста, попробуйте еще раз.</p>
    {% endif %}

    <h1><p>Bы пытаетесь войти в закрытый раздел</p></h1>
    <h2><p>Пожалуйста, авторизируйтесь</p></h2>

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="Войти" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
